
body {
    background: linear-gradient(to right,#2b031d , #23054a);
    /* background-color: #2c041e; */
    /* background: linear-gradient(to right top, #106075, #02353c); */
    color: #ffe6e6;
    margin: 2rem;
}

#all {
    margin: 1.5rem;
    justify-items: center;
}

#all h1 {
    text-align: center;
    color: #39bd6a;
    font-size: 2.5rem;
    /* margin: 1rem 0 0 0; */
}

#all h3 {
    color: #bd398d;
    font-size: 2rem;
    max-width: 30rem;
}

#all button {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 6rem;
    padding: 0.5rem;
    color: rgb(230, 183, 150);
    background: firebrick;
    border-radius: 12px;
    border-width: medium;
}

#all button:hover,
#all button:active {
    color: chartreuse;
    background: blueviolet;
}


#sec2 {
    /* padding: 2rem; */
}

.form_control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2rem;
  padding: 2rem;
  /* margin: 2rem; */
  /* max-width: 23rem; */
  /* width: 100%; */
  justify-self: center;  /* make the form center*/
  /* column-gap: 1.8rem; */
  max-width: 50rem;               /* limit total width */
}

.form_control label {
  font-weight: bold;
  font-size:1.4rem;  /*to give size on lables out side of input area*/
  display: block;
  margin: 0;
}
    
.form_control input,
.form_control select,
.form_control textarea {
    /* display: block; */
    padding: 0.4rem;
    border-radius: 10px;
    outline: none;
    border-width: medium;
    text-align: left;
    font-size: 1.5rem;  /* to give size on texst inside input*/
    max-width: 25rem;
}

.form_control input:focus,
.form_control select:focus,
.form_control textarea:focus {
    border-color: rgba(83, 221, 228, 0.6) ;
    box-shadow: 1px 2px 5px #39bd6a;
    background-color: #d7e0ef;
    border-width: 5px;
    border-radius: 10px;
}

form .required label::after {
    content: " *";
    color: rgb(255, 9, 9);
    font-weight: bold;
}

/* Django's default error list */
.errorlist {
    color: red;                /* make error text red */
    font-size: 14px;
    margin: 5px 0;
    padding-left: 0;
    list-style: none;          /* remove bullet points */
}

/* Extra styling if you want red border around the inputs with errors */
.errorlist + input,
.errorlist + select,
.errorlist + textarea {
    border: 2px solid red;
    background: #ffe6e6;
    border-radius: 6px;
    padding: 6px;
}

