

.messages-container {
    margin: 1em 0;
}
.message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.message.error {
    background-color: #f8d7da;
    color: #f3192f;
    width: 50%;
}
.message.success {
    background-color: #d4edda;
    color: #27b748;
    width: 50%;

}
.message.info { background-color: #cce5ff; color: #004085; }