{% extends "base.html" %}

{% load static %}
{% include "includes/messages.html" %}

{% block title %}
 Dashboards
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'students/dashboards.css' %}" />
{% endblock %}

{% block content%}

<section id="dash">
   <h1>Dashboards</h1> 
</section>

<div id="dbord">
    <aside class="sidebar">
        <ul>
            <li><a href="{% url "prnt_info" %}">📝Student Registration</a></li>
            <li><a href="{% url "pay" %}"><i class="fa-solid fa-credit-card"></i> Payments</a></li> {% comment %} 💳 {% endcomment %}
            <li><a href="">📅Attendance</a></li>
            <li><a href="">📊Student result</a></li>
            <li><a href="">🔒 Admin</a></li>
        </ul>
    </aside>

    <div class="title">
        <h2>Numbers Of Students in Dana Academy</h2>
        <div class="charts">
            <canvas id="studentGenderChart"></canvas>
            <div class="chart-info">
                <p>Male: {{ male_students|default:0 }}</p>
                <p>Female: {{ female_students|default:0 }}</p>
            </div>
                <canvas id="studentCountChart"></canvas>
                <p class="chart-info">Total: {{ total_students|default:0 }}</p>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    if (typeof Chart === "undefined") {
        document.write('<script src="{% static "students/js/chart.umd.min.js" %}"><\/script>');
    }
</script>

<script>

    const genderCtx = document.getElementById('studentGenderChart');
    new Chart(genderCtx, {
        type: 'pie',
        data: {
            labels: ['Male', 'Female'],
            datasets: [{
               // label: 'Student by Gender',
                data: [{{ male_students|default:0 }}, {{ female_students|default:0 }}],
                backgroundColor: ['#36A2EB', '#FF6384'],
            }]
        },
        options: {
        plugins: {
            legend: {
                labels: {
                    font: {
                        size: 38   // legend text size
                    }
                }
            },
            title: {
                display: true,
                text: 'Students by Gender',
                font: { size: 34, weight: 'bold' } // title font size
            }
        }
    }

    });

    const countCtx = document.getElementById('studentCountChart');
    new Chart(countCtx, {
        type: 'bar',
        data: {
            labels: ['Total Students'],
            datasets: [{
                label: 'Count',
                data: [{{ total_students }}],
                backgroundColor: ['#4BC0C0'],
            }]
        },
        options: {
        plugins: {
            legend: {
                labels: {
                    font: {
                        size: 26   // legend text size
                    }
                }
            },
            title: {
                display: true,
                text: 'Total Students',
                font: { size: 25, weight: 'bold' } // title font size
            }
        },
        scales: {
        y: {
            beginAtZero: true,
            ticks: {
                font: { size: 20, weight: 'bold' }, // bigger numbers
                stepSize: 10, // spacing between lines (optional)
                color: '#333' // color of numbers
            },
            grid: {
                color: '#ccc', // grid line color
                lineWidth: 2   // thickness of lines
            }
        },
        x: {
            ticks: {
                font: { size: 18, weight: 'bold' }
            },
            grid: {
                color: '#ddd',
                lineWidth: 1
            }
        }
    }
    }

    });

</script>

{% endblock content%}
