{% extends "base.html" %}
{% load static %}

{% block title %}
 Dana Academy
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "students/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
    <div>
        {% comment %} <img src="{% static "students/images/dana.png" %}" alt="dana academy"/> {% endcomment %}
        <h1> <strong>Wellcome To Dana Academy</strong></h1>
        <h2>The Heart of Quality Education!</h2>
         {% comment %} <h2><strong>Your Home And The Heart of Quality Education!</strong></h2> {% endcomment %}
    </div>
    <div class="imag">
        <h1> ጥራት ያለው ትምህርት ልብ ወደሆነችዋ ዳና አካዳሚ</h1>
        <h3>እንኳን በደህና መጡ!</h3>
    </div>
    <div> 
        <p class="well"> Baga Nagaan Dhuftan Gara Dana Academy</p>
        <h4>Manaa keessan fi Onnee Barnoota Qulqullinaa!!</h4>
    </div> 
</section>
<section id="mission">
    <div id="vision">
        <h1>Vision</h1>
        <h1>ራዕይ</h1>
        <h1>Kaayyoo</h1>
    </div>
</section>
{% endblock%}
