{% extends "base.html" %}
{% load static %}

{% block title %}
 Dana Academy
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "students/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
    <div>
        {% comment %} <img src="{% static "students/images/dana.png" %}" alt="dana academy"/> {% endcomment %}
        <h1> <strong>Wellcome To Dana Academy</strong></h1>
        <h2>The Heart of Quality Education!</h2>
         {% comment %} <h2><strong>Your Home And The Heart of Quality Education!</strong></h2> {% endcomment %}
    </div>
    <div class="">
        <h1> ጥራት ያለው ትምህርት ልብ ወደሆነችዋ ዳና አካዳሚ</h1>
        <h3>እንኳን በደህና መጡ!</h3>
    </div>
    <div> 
        <p class="well"> Baga Nagaan Dhuftan Gara Dana Academy</p>
        <h4>Manaa keessan fi Onnee Barnoota Qulqullinaa!!</h4>
    </div> 
</section>
{% comment %} <h3 id="com">እንኳን በደህና መጡ!</h3> {% endcomment %}
<section id="vision1">
    <div id="vision-title">
        <h1>Vision</h1>
        <h1 id="amh">ራዕይ</h1>
        <h1 id="amh">Kaayyoo</h1>
    </div>
    <div id="vision">
        <p>To be a nationally recognized school, it aims to develop skilled and self-reliant citizens who will become the foundation of the country. Overall, it strives to make a significant contribution to improving the quality of education.</p>
        <p id="oro"> ሀገር አቀፍ ደረጃውን የጠበቀ ትምህርት ቤት በመሆን ለሀገር መኩሪያ የሚሆኑ፣ በራሳቸው የሚተማመኑ ብቁ ዜጎችን ማፍራት። በአጠቃላይ ለትምህርት ጥራት የበኩሉን  ድርሻ ማበርከት።</p>
        <p id="oro">Akka biyyooleessaattii Mana barnoota Sadarkaa isaa eggate ta’un barattoota akka biyya dirqama fi itti gaafatamummaa kan itti dhagahamu horachuu.</p>
    </div>
</section>
<section id="mission">
    <div>
        <h1>Mission</h1>
        <p>
          At Dana Academy, our mission is to uphold and continually enhance the quality of education by engaging dedicated and skilled educators at every level.
          We are committed to equipping our students with the knowledge, creativity, and critical skills needed to excel and compete with confidence both regionally and nationally.
          The school aims to provide an environment that suits students’ needs helping them excel not only academically, but also in character, creativity, thinking skills, and physical fitness. It makes continuous efforts to ensure that students develop into capable and well-rounded individuals.
          The teaching–learning process is guided by timely and high-quality educational accessibility and support, enabling our students to be both effective and competent.
        </p>
    </div>
    <div>
        <h1>ተልእኮ</h1>
        <p>የትምህርት ቤቱ የትምህርት አሰጣጥ ጥራቱን ጠብቆ እንዲቀጥልና ተሻሽሎ በየደረጃው ያሉ የትምህርት ባለሙያዎችን ተሳትፎ ማሳደግ። ተማሪዎች በቀሰሙት ዕውቀት፣ በፈጠራ ስራ በብሄራዊና በክልላዊ ደረጃ፣ብቁና ተወዳዳሪ እንዲሆኑ አስፈላጊ ግብዓቶችን ማሟላት። ትምህርት ቤቱ ለተማሪዎች የሚመጥን እንዲሆን፣ ተማሪዎችን በትምህርት ብቻ ሳይሆን በስነ-ልቦና፣ በፈጠራ ስራ፣ በአመለካከት(በአስተሳሰብ)ና በአካላዊ ብቃት ረገድ ብቁና የተሻሉ ሆነው እንዲገኙ ያላሰለሰ ጥረት ማድረግ ናቸው። የመማር ማስተማሩን ሂደት ወቅታዊና ጥራት ባለው የትምህርት ተደራሽነትና አማካይነት ተማሪዎቻችን ውጤታማ እና ብቁ እንዲሆኑ ማስቻል።</p>
    </div>
    <div>
        <h1>ERGAMA</h1>
        <p>
            Haalli Kenniinsa barnoota mana barumsichaa qulqullina isa eggate akka itti fufu fi hirmaannaa haayyota barnoota sadarkaa sadarkaan jiran fooyyesse  kan hirmaachisu ta’u.
            Adeemsa baruu fi barsiisuu ammayyeessuun, qaqqabinsaa barnootaa qulqullina qabun barattootni bu’aa qabeessa fi gahoo akka ta’an dandessisudha.
            -	Barattootaa barnootaan qofa osoo hin taane  xin-sammuu fi hojii kalaqaatiin akkasumas gahumsa qaamaatiin fooyya’a akka ta’an dandessisudha.
            -	Barattootni beekumsa horatanin hojii kalaqaan akkaa sadarkaa naannoo fi biyyooleessaatti gahoo fi dorgomaa akka ta’anii fi manni barumsichaa barattoota kan simu akka ta’uf  yeroo yeroodhaan wantoota barbachisoo ta’an guttachu.
        </p>
    </div>
</section>
<section id="quote">
    <div id="bett">
        <h1>We are Dana</h1>
        <img src="{% static "students/images/better.png" %}" alt="we are dana"/>
    </div>
    <div id="team">
        <img src="{% static "students/images/team.png" %}" alt="we are dana"/>
        <img src="{% static "students/images/respect.png" %}" alt="we are dana"/>
        <img src="{% static "students/images/learn.png" %}" alt="we are dana"/>
        <img src="{% static "students/images/encourage.png" %}" alt="we are dana"/>
    </div>
    <div id="supp">
        <img src="{% static "students/images/support.png" %}" alt="we are dana"/>
        <img src="{% static "students/images/celebrate.png" %}" alt="we are dana"/>
        <img src="{% static "students/images/forgive.png" %}" alt="we are dana"/>
        <img src="{% static "students/images/challenge.png" %}" alt="we are dana"/>
    </div>
</section>
<footer>
    <h1>Cleanliness is valuable!</h1>
    <h1>ንፅህና ዋጋ አለው!</h1>
    <h1>Safuun gatii qaba!</h1>
</footer>
{% endblock%}
