{% extends "base.html" %}
{% load static %}

{% block title %}
 Dana Academy
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "students/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
    <div>
        {% comment %} <img src="{% static "students/images/dana.png" %}" alt="dana academy"/> {% endcomment %}
        <h1> <strong>Wellcome To Dana Academy</strong></h1>
        <h2>The Heart of Quality Education!</h2>
         {% comment %} <h2><strong>Your Home And The Heart of Quality Education!</strong></h2> {% endcomment %}
    </div>
    <div class="imag">
        <h1> ጥራት ያለው ትምህርት ልብ ወደሆነችዋ ዳና አካዳሚ</h1>
        <h3>እንኳን በደህና መጡ!</h3>
    </div>
    <div> 
        <p class="well"> Baga Nagaan Dhuftan Gara Dana Academy</p>
        <h4>Manaa keessan fi Onnee Barnoota Qulqullinaa!!</h4>
    </div> 
</section>
<section id="mission">
    <div id="vision-title">
        <h1>Vision</h1>
        <h1>ራዕይ</h1>
        <h1>Kaayyoo</h1>
    </div>
    <div id="vision">
        <p>To be a nationally recognized school, it aims to develop skilled and self-reliant citizens who will become the foundation of the country. Overall, it strives to make a significant contribution to improving the quality of education.</p>
        
        <p> ሀገር አቀፍ ደረጃውን የጠበቀ ትምህርት ቤት በመሆን ለሀገር መኩሪያ የሚሆኑ፣ በራሳቸው የሚተማመኑ ብቁ ዜጎችን ማፍራት። በአጠቃላይ ለትምህርት ጥራት የበኩሉን  ድርሻ ማበርከት።</p>

        <p id="oro">Akka biyyooleessaattii Mana barnoota Sadarkaa isaa eggate ta’un barattoota akka biyya dirqama fi itti gaafatamummaa kan itti dhagahamu horachuu.</p>
    </div>
</section>
{% endblock%}
