{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %} Student Regisrtation{% endblock title %}</title>
        
    {% block css_file %}
        <link rel="stylesheet" href="{% static "students/registration.css" %}" >
        <link rel="stylesheet" href="{% static "parents/parent.css" %}" >
    {% endblock %}
    <link rel="shortcut icon" href="{% static "images/dana_logo1.PNG"%}">
    
</head>
<body>
{% comment %} {% block content%} {% endcomment %}
{% include "includes/messages.html" %}

<div class="progress-container">
    <div
        class="progress-bar"
        role="progressbar"
        style="width: {{ progress_percent }}%;"
        aria-valuenow="{{ current_step }}"
        aria-valuemin="0"
        aria-valuemax="{{ total_steps }}"
    ></div>
</div>
<p>Step {{ current_step }} of {{ total_steps }}</p>

<section id="all">
    <h1>Welcome Dear Parents!</h1>
    <h3>Register your children here</h3>
    <h3>Student Information </h3>

    <section id="sec2">
        <form method="post" enctype="multipart/form-data">
            {% comment %} <input type="text" id="first_name" name="first_name" placeholder="First Name"> {% endcomment %}
            {% comment %} <label for="first_name">First Name</label> {% endcomment %}
            {% csrf_token %}
            {# Student form error#}
            {% if form.non_field_errors%}
                <div class="error">
                    {% comment %} {{ form.non_field_errors }} {% endcomment %}
                    {{ wizard.management_form }}   
                    {{ wizard.form.as_p }}
                </div>
                {% endif %}

            <div class="form_control">
            {{ form.as_p}}
            </div>

            <h3>Enrolment Information</h3>
            {% comment %} enrollment formset management form is required {% endcomment %}
            {{ enrollment_formset.management_form}}

            {% if enrollment_formset.non_form_errors %}
                <div class="error">
                    {{ enrollment_formset.non_form_errors }}
                </div>
            {% endif %}

            {% for subform in enrollment_formset %}
                <div class="formset-item">
                {% if subform.errors %}
                    <div class="error">
                      {{ subform.errors }}
                    </div>
                {% endif %}
                  {{ subform.as_p }}
                </div>
            {% endfor %}
            
            {% comment %} {% for form in enrollment_formset %}
                {{ form.as_p }}
                {{ form.student }} {% endcomment %}
                {% comment %} {% for field in form %}
                    {{ field.label_tag }}: {{ field }}<br>
                {% endfor %} {% endcomment %}
            {% comment %} {% endfor %} {% endcomment %}
            {% comment %} <button type="submit">Continue to Payment</button> {% endcomment %}
            <button type="submit">Next</button>
        </form>
    </section>
</section>
{% comment %} {% endblock content%} {% endcomment %}
</body>
</html>