{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %} Student Regisrtation{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "" %}">
    
    {% block css_file %}
    <link rel="stylesheet" href="{% static "students/registration.css" %}" >
    {% endblock %}
    <link rel="shortcut icon" href="{% static "images/dana_logo1.PNG"%}">
    
</head>
<body>
{% comment %} {% block content%} {% endcomment %}
<section id="all">
    <h1>Welcome Dear Parents!</h1>
    <h3>Register your children here</h3>
    <h3>Student Information </h3>

    <section>
        <form method="post" enctype="multipart/form-data">
            {% comment %} <input type="text" id="first_name" name="first_name" placeholder="First Name"> {% endcomment %}
            {% comment %} <label for="first_name">First Name</label> {% endcomment %}
            {% csrf_token %}
            <div class="form_control">
            {{ form.as_p}}
            </div>
            <h3>Enrolment Information</h3>
            {{ enrollment_formset.management_form }}
            {% for form in enrollment_formset %}
                {{ form.as_p }}
                {{ form.student }}
                {% comment %} {% for field in form %}
                    {{ field.label_tag }}: {{ field }}<br>
                {% endfor %} {% endcomment %}
            {% endfor %}
            <button type="submit">Continue to Payment</button>
        </form>
    </section>
</section>
{% comment %} {% endblock content%} {% endcomment %}
</body>
</html>