

body {
  /* background: linear-gradient(to right top, #021105, #09ab47); */
  /* background-color: #073a11; */
  background: linear-gradient(to right, rgb(6, 76, 133), rgb(4, 196, 4));
    color:rgb(192, 197, 197);
  color: white;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: rgb(28, 6, 6);
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

footer h1 {
  padding: 1rem;
}

#hh2 {
  margin: 0 0 2rem 2rem;
}

#new-parent-section h3 {
  margin-top: 0;
}

#existing-parents-section {
  justify-self: center;
  font-size: 2rem;
}

select {
  margin-bottom: 2rem;

}

#existing-parents-section h3 {
  text-align: justify;
}

#existing-parents-section p {
  text-align: justify;
  color: #eb90c0;
}

#p-list{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.3rem;
}

.con {
  justify-items: center;
  /* text-align: center; */
  margin-top: 3rem;
}

.con h3 {
  font-size: 2rem;
  color: rgb(7, 190, 231);
}

.con h4 {
  font-size: 1.5rem;
  color: rgb(204, 211, 11);
}

#hh4 {
  color: rgb(231, 149, 7);
  /* font-size: 1.5rem; */
  margin: 0 0 1rem 2rem;
  /* color: rgb(153, 161, 163); */  
}

.form_control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2rem;
  padding: 2rem;
  margin: 2rem;
  max-width: 33rem;
  justify-self: center;  /* make the form center*/
}

.form_control p {
  /* display: block; to make in two column */
  display: contents;
}

.form_control label {
  font-weight: bold;
  font-size:1.4rem;
}

.form_control input,
.form_control select,
.form_control textarea {
    display: block;
    padding: 0.4rem;
    border-radius: 6px;
    outline: none;
    border-width: medium;
    text-align: left;
    font-size: 1.4rem;
    max-width: 20rem;
}

.form_control input:focus,
.form_control select:focus,
.form_control textarea:focus {
    border-color: #09022b;
    box-shadow: 0 0 5px rgba(14, 187, 230, 0.6);
    background-color: #a1b6db;
}

.intro-box {
  background: #f9f9f9;
  padding: 0.5rem ;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.intro-box ul {
  /*text-align: left;    left-align the bullet points */
  margin: 2rem auto;
  max-width: 90%;   /* optional: keep it neat */
  text-align: justify;
}

.intro-box h4 {
  margin: 2rem auto;
  max-width: 90%;   /* optional: keep it neat */
  text-align: justify;
}

.choice-container {
  display: flex;
  gap: 1rem;
  padding: 3rem 1rem 1rem;
  margin: 3rem 0;
  justify-content: center;
  margin: 1.5rem;
  margin-bottom: 7rem;
}

.intro-box li {
  list-style: none;
}

.choice-card {
  flex: 1;
  /* border: 2px solid #ccc; */
  border: 6px solid #f2eeee;
  border-radius: 10px;
  padding: 0.8rem;
  cursor: pointer;
  transition: border-color 0.3s, background 0.3s;
  max-width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #0a0619;
}

.choice-card:hover {
  border-color: #c90cc9;
}

.choice-card input:checked + div {
  /* border-color: #007bff; */
  border-color: #a5079b;
  background: #eaf3fd;
  border-radius: 10px;
  padding: 1rem;
}

.form-actions {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 0 0 6rem 0;
}

.form-actions button {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.form-actions button[name="add_another"] {
  background: #01090c;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.form-actions button[type="submit"]:not([name]) {
  background: #9d067d;
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.form-actions button:hover {
  background-color: #37f153;
}

.form-actions button[type="submit"]:not([name]):hover {
  background-color: #acac07;
}


.forms-actions {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.forms-actions button {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.forms-actions button[name="add_another"] {
  background: #01090c;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.forms-actions button[type="submit"]:not([name]) {
  background: #9d067d;
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.forms-actions button:hover {
  background-color: #37f153;
}

.forms-actions button[type="submit"]:not([name]):hover {
  background-color: #acac07;
}
