
body {
    /* background: linear-gradient(to right, #1e0442, #6104db); */
    /* background-color:  rgb(3, 92, 128); */
    /* background-color:rgb(2, 77, 107); */
    /* color: antiquewhite; */
}

h3 {
  background-color: rgb(14, 133, 166);
  font-size: 2rem;
  color: white;
  padding: 0.5rem;
}

form {
  max-width: 60rem;   /* limit width */
  margin: 0 auto;     /* center horizontally */
  padding: 2rem;
  /* background: rgba(0,0,0,0.2); */
  border-radius: 12px;
}

.form_control {
 /* column-count: 2;        two vertical columns */
  column-gap: 2rem; 
}

.form_control label {
  font-weight: bold;
  font-size:1.4rem;  /*to give size on lables out side of input area*/
  display: block;
  margin: 0;
}

 .form_control input,
.form_control select,
.form_control textarea {
    display: block;
    padding: 0.3rem;
    border-radius: 6px;
    outline: none;
    border-width: small;
     /*text-align: left;  */
    max-width: 17rem;
    font-size: 1.3rem; /* to give size on texst inside input*/
    
} 

.form_control input:focus,
.form_control select:focus,
.form_control textarea:focus {
    border-color: rgba(83, 221, 228, 0.6) ;
    box-shadow: 1px 2px 5px #39bd6a;
    background-color: #d7e0ef;
    border-width: 5px;
    border-radius: 10px;
}

/* to make all label equal */
.form_control p {  
  display: flex;
  flex-direction: column;  /*label on top of input*/
  margin: 0;
}

.form-actions {
  display: flex;
  gap: 6rem;
  justify-content: center;
  margin: 5rem 0 3rem 0;
}

.form-actions button {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  background:  rgb(8, 115, 129);
  /* background:  blueviolet; */
  color: white;
  font-weight: bold;
}

.form-actions button:hover {
  background-color: #37f153;
}

/* to hide djangos default */
a[href*="delete"], /* hide delete link */
input[type="checkbox"][name$="-clear"], /* hide clear checkbox */
label[for$="-clear_id"] { /* hide clear label */
  display: none !important;
}
