
{% include "includes/messages.html" %}


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <h3>Student Information</h3>
      <fieldset>
        {{ student_form.as_p }}
      </fieldset>

  <h3>Parents</h3>
{{ parent_formset.management_form }}

{% for parent_form, phone_formset in parent_phone_pairs %}
  <fieldset>
    {{ parent_form.as_p }}

    <h4>Phones</h4>
    {{ phone_formset.management_form }}
    {% for pf in phone_formset %}
      {{ pf.as_p }}
    {% endfor %}
  </fieldset>
{% endfor %}
  
  <h3>Emergency</h3>
{{ emergency_formset.management_form }}
{% for form in emergency_formset %}
    {{ form.as_p }}
{% endfor %}

<h3>Payment</h3>
{{ payment_formset.management_form }}
{% for form in payment_formset %}
    {{ form.as_p }}
{% endfor %}

  <button type="submit">Confirm & Save</button>
</form>