{% comment %} {% extends "wizard_base.html" %} {% endcomment %}

{% load static %}

{%block title %}
   
{% endblock title %}
    
{% block css_file %}
    <link rel="stylesheet" href="{% static "parents/parent.css" %}" >
    <link rel="stylesheet" href="{% static 'parents/common.css' %}">
    <link rel="shortcut icon" href="{% static "images/dana_logo1.PNG"%}">
{% endblock %}


{% block content %}
{% include "includes/messages.html" %}

    <div class="progress-container">
    <div
        class="progress-bar"
        role="progressbar"
        style="width: {{ progress_percent }}%;"
        aria-valuenow="{{ current_step }}"
        aria-valuemin="0"
        aria-valuemax="{{ total_steps }}"
    ></div>
</div>
<h3 id="hh2">Step {{ current_step }} of {{ total_steps }}</h3>

    <h2 id="hhh2pay">Make Payment for: {{ student.first_name}} {{ student.middle_name}}</h2>
    <form id="paymentForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form_control">
            {{ form.as_p}}
        </div>

        <div class="form-actions">
            <a href="{% url 'emrgncy_info' %}" class="back-btn">Back</a>
            <button type="submit" name="add_another">Save & Add Another</button>
            <button type="submit">Review</button>
            {% comment %} <a href="{% url 'edit' %}" class="review-btn">Review</a> {% endcomment %}
        </div>
    </form>

    <footer>
    <h2>Cleanliness is valuable!</h2>
    <h2>ንፅህና ዋጋ አለው!</h2>
    <h2>Safuun gatii qaba!</h2>
  </footer>

{% endblock %}
