{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}

<title>{%block title %}
        Grade and Section Regisrtation
{% endblock title %}</title>

{% block css_file %}
    <link rel="stylesheet" href="{% static "" %}">
    <link rel="shortcut icon" href="{% static "images/dana_logo1.PNG"%}">
{% endblock %}


{% block content%}
<section>
    <h1>Welcome Dear Admin!</h1>
    <h3>Register Grade and Section Here.</h3>
</section>
<section>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ g_form.as_p}}
        {{ s_form.as_p}}
        <button type="submit">Register</button>
    </form>
    {% comment %} <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ s_form.as_p}}
        <button type="submit">Register</button>
    </form> {% endcomment %}
</section>

{% endblock content %}
