{% comment %} {% extends "wizard_base.html" %} {% endcomment %}

{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "parents/emergency.css" %}" >
    <link rel="stylesheet" href="{% static 'parents/common.css' %}">
{% endblock %}


{% block content %}
    {% include "includes/messages.html" %}

    <div class="progress-container">
        <div
            class="progress-bar"
            role="progressbar"
            style="width: {{ progress_percent }}%;"
            aria-valuenow="{{ current_step }}"
            aria-valuemin="0"
            aria-valuemax="{{ total_steps }}"
        ></div>
    </div>
    <h4>Step {{ current_step }} of {{ total_steps }}</h4>
    <h3>Step 3: Emergency Contact</h3>

    <form method="post">
        {% csrf_token %}
        <h2>If emergency contact is an already registered Parent and Phone, select here:</h2>
        <div class="form_control">
            {{ existing_form }}
        </div>

        <h2>If you want to add a new emergency contact, fill in the details below:</h2>
        <div class="form_control">
            {{ new_form.as_p }}
        </div>

        <div class="form-actions">
            <a href="{% url 'phone_info' %}" class="back-btn">Back</a>
            <button type="submit" name="add_another">Save & Add Another</button>
            <button type="submit">Continue to Payment</button>
        </div>
        
    </form>
{% endblock %}