
{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "parents/parent.css" %}" >
    <link rel="stylesheet" href="{% static 'parents/button.css' %}">
{% endblock %}


{% block content %}
{% include "includes/messages.html" %}

<div class="progress-container">
    <div
        class="progress-bar"
        role="progressbar"
        style="width: {{ progress_percent }}%;"
        aria-valuenow="{{ current_step }}"
        aria-valuemin="0"
        aria-valuemax="{{ total_steps }}"
    ></div>
</div>
<p>Step {{ current_step }} of {{ total_steps }}</p>

<h2>Step 3: Emergency Contact</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% comment %} <button type="submit">Finish</button> {% endcomment %}
    <a href="{% url 'phone_info' %}" class="back-btn">Back</a>
    <button type="submit">Continue to Payment</button>
</form>
{% endblock %}