
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


  /* * {
    box-sizing: border-box;
} */

html {
    font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
    /* background: linear-gradient(to right top, rgb(2, 155, 2), #002910); */
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#main-nav { 
    /* background-color: #6305dd; */
    background: linear-gradient(to right, rgb(3,129,3) 100%, transparent 0%);
    position: fixed;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5% 7% 0 0.5%; */
    /*position: absolute;    to cover header place*/
    color: white;
}

#main-nav nav {
    /* background: linear-gradient(to right, rgb(3,129,3) 100%, transparent 0%); */
    /* position: fixed; */
    top: 1rem;
    right: 2rem;
    font-size: 2.5rem;
}

#main-nav img {
    width: 9rem;
    height: 6rem;
}

#main-nav img:hover,
#main-nav img:active {
  transform: scale(1.06);
  filter: drop-shadow(0 6px 8px rgba(0,0,0,0.35)) saturate(120%);
  opacity: 0.95;
}

#main-nav a {
    /* color: rgb(4, 191, 191); */
    color: rgb(232, 235, 238);
    text-decoration: none;
    margin-right: 2.3rem;
    /* gap: 2rem; */
    font-weight: bold;
    font-size: 1.3rem;
    /* flex-shrink: 1; */
}

#main-nav a:hover,
#main-nav a:active {
    color: rgb(164, 4, 81);
}

#main-nav div {
    display: flex;
    /* flex-wrap: nowrap; */
}

#in-nav {
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
}

#in-nav h1 {
    margin: 0;
}

@media (max-width: 768px) {
    #in-nav h1 {
        font-size: 1.1rem;
        margin-top: 1rem;

    }
    #main-nav a {
        font-size: 1rem;
        margin-right: 1.5rem;
    }
}
