

/* body {
    background: linear-gradient(to right top, rgb(154, 209, 227), rgb(3, 3, 236));
} */

#dbord {
    display: flex;
    /* min-height: 100vh; */
    color: black;

}

.title {
    display: flex;
    flex-direction: column;
}

.title h2 {
    text-align: center;
}

.charts {
   flex: 1;   /*take remaining space next to sidebar */
    padding: 20px;
    /* display: grid;  to put contents top to bottom */
    display: flex; /*to put contents left to right*/
    gap: 6rem;
    margin-left: 8rem;
}

canvas {
    width: 100%;
    max-width: 350px;   
    height: 320px !important;
    color: black;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 10px;
}

@media (max-width: 1000px) {
    .charts {
        flex: unset;
        flex-direction: column; /* stack top to bottom */
        align-items: center;    /* center charts when stacked */
        gap: 1rem;
    }

    canvas {
        width: 100% !important; /* full width of container */
        height: auto !important;    /* keep responsive */
        max-width: 450px;   
        height: 420px !important;
    }

    .chart-info {
    /* display: flex; */
    /* justify-content: space-around; */
    font-size: 8px;
    font-weight: bold;
    margin-top: 0.1rem;
    }
}

.chart-info {
    /* display: flex; */
    /* justify-content: space-around; */
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
}

#dash {
    padding: 2.5rem 1rem 1%;
    margin: 0;
    background: linear-gradient(to right top, rgb(17, 130, 168), rgb(4, 4, 106));
}

#dash h1 {
    padding-top: 3rem;
    color: rgb(254, 254, 254);
    margin: 2rem auto 0 auto;
    font-size: 2rem;
}

@media (min-width: 1000px) {
  .sidebar {
    width: 20rem;
  }
}

.sidebar {
    /* width: 20rem; */
    background: linear-gradient(to right top, rgb(41, 134, 162), rgb(206, 13, 42));
    /* position: fixed; */
    min-height: 100vh;
}

.sidebar ul {
    list-style: none;
    padding: 2px;
}

.sidebar li {
    margin: 1.2rem 0;
}

.sidebar a {
    text-decoration: none;
    color: rgb(237, 225, 98);
    font-size: 1.5rem;
    padding: 0.7rem;
}
.sidebar:hover li,
.sidebar:active li {
  transform: scale(1.06);
  filter: drop-shadow(0 6px 8px rgba(0,0,0,0.35)) saturate(120%);
  opacity: 0.95;
}

.sidebar a:hover,
.sidebar a:hover {
    color: aliceblue;
    background-color: rgb(48, 1, 87);
    border-radius: 1.7rem;
}

/* @media (max-width: 768px) {
    .sidebar {
        position: relative;
    }
} */