
#welcome {
    /* background-color: #6305dd; lightblue  */
    /* background-color: blueviolet; */
    /* background: linear-gradient(to right top, rgb(2, 155, 2), #002910); */
    padding: 4rem 0%;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 2rem;
    background:  #13843c url("images/dana.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* justify-content: center; */

}

/* #welcome img {
    width: 40rem;
    height: 30rem;
    margin-left: 20rem;
    margin-top: 3rem;
} */

#welcome div {
    flex: 1 1 300px; /* min 300px, grows as space allows */
    max-width: 500px; /* prevents stretching too wide */
    text-align: center;
}

/* #welcome div {
    background: black;
    width: 33rem;
    border-radius: 1rem;
} */

#welcome h1 {
    color: white;
    font-size: 2.5rem;
    width: 28rem;
    margin-top: 8rem;
    margin-bottom: 0;
}

#welcome h2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: rgb(199, 62, 214);
    font-size: 2rem;
    background-color: rgb(9, 9, 9);
    /* width: 20rem; */
    /* display: inline-block; */
    padding-bottom: 0.3rem;
    padding-right: -1rem;
    border-radius: 0.9rem;
}

.well {
    font-size: 2rem;
    margin-top: 8rem;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}
#welcome h3 {
    font-size: 4.1rem;
    margin: 0;
    color: rgb(229, 71, 31);
    /* color: gold */
}
#welcome h4 {
    font-size: 2rem;
    color: rgb(237, 77, 112);
    margin: 0;
}

@media (max-width: 868px) {
    #welcome h1 {
        margin: 3rem;
    }
    .well {
        margin: 1rem;
    }
}

@media (min-width: 1000px) {
    #welcome {
        flex-direction: row; /* keep items side-by-side */
        /* gap: 4rem; */
    }
}

#vision {
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left: 4rem;
    font-size: 2.1rem;
    /* color: aliceblue; */
}

#vision h1 {
    /* background: #0d0a58; */
}


/* .imag {
    background-image: url("images/dana6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* display: flex; */
/* } */


    /* color: rgb(165, 166, 163);
    color: rgb(212, 154, 18); */

