
#welcome {
    /* background-color: #6305dd; lightblue  */
    /* background-color: blueviolet; */
    /* background:  url("images/dana.png"), linear-gradient(to right top, rgb(3, 129, 3), #001107); */
    background: linear-gradient(to right, rgb(3,129,3) 58%, transparent 1%),
        url("images/dana.png");
    /* padding: 6rem 0%; */
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* gap: 2rem; */
    /* background-size: contain;  */
    /* background-size: 250px auto; */
    background-position: right;
    background-repeat: no-repeat;
    /* justify-content: center; */
}

#welcome {
    font-family: "Times New Roman", Times, serif;
}


/* #welcome img {
    width: 40rem;
    height: 30rem;
    margin-left: 20rem;
    margin-top: 3rem;
} */

#welcome div {
    flex: 1 1 300px; /* min 300px, grows as space allows */
    max-width: 500px; /* prevents stretching too wide */
    text-align: center;
    margin-top: 1rem;
    gap: 0;
}

/* #welcome div {
    background: black;
    width: 33rem;
    border-radius: 1rem;
} */

#welcome h1 {
    color: white;
    font-size: 2.5rem;
    width: 22rem;
    margin-top: 8rem;
    margin-bottom: 0;
    /* margin-right: 10rem; */
    /* padding: 0; */
}

#welcome h2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
    /* color: rgb(199, 62, 214); */
    color: rgb(229, 71, 31);
    font-size: 2rem;
    /* background-color: rgb(9, 9, 9); */
    width: 20rem;
    /* display: inline-block; */
    padding-bottom: 0.3rem;
    padding-right: -1rem;
    border-radius: 0.9rem;
}

.well {
    font-size: 2rem;
    margin-top: 8rem;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}

h3 {
    background-color: rgb(28, 6, 6);
    font-size: 4.1rem;
    /* height: 10rem; */
    /* margin: 2rem; */
    /* margin: 2rem ; */
    color:rgb(4, 163, 163);
    /* padding: 0.5rem; */
    border-radius: 1rem;
    text-align: center;
    /* max-width: 30rem; */
    /* display: flex; */
    /* justify-items: center; */
    /* color: rgb(229, 71, 31); */
    /* color: gold */
}
/* h3 {
    background-color: rgb(28, 6, 6);
    font-size: 4.1rem;
    height: 10rem;
    /* margin: 0; */
    /* margin: 3rem 7rem 2rem 7rem; */
    /* color:rgb(4, 163, 163); */
    /* padding: 0.5rem; */
    /* border-radius: 1rem; */
    /* text-align: center; */
    /* max-width: 30rem; */
    /* display: flex; */
    /* justify-items: center; */
    /* color: rgb(229, 71, 31); */
    /* color: gold */
/* } */ 
#welcome h4 {
    font-size: 2rem;
    color: rgb(237, 77, 112);
    margin: 0;
}

@media (max-width: 868px) {
    #welcome h1 {
        margin: 3rem;
    }
    .well {
        margin: 1rem;
    }
}

@media (min-width: 1000px) {
    #welcome {
        flex-direction: row; /* keep items side-by-side */
    }
}

#vision1 {
    /* max-width: 70rem; */
    margin: 5rem 2rem 2rem 5rem;
    align-items: center;
}

#vision-title {
    display: flex;
    justify-content: space-between;
    margin-right: 5rem;
    font-size: 2rem;
}

#vision-title h1 {
    text-align: center;
    background: linear-gradient(to right top, rgb(2, 155, 2), #039c3e);
    color: white;
    width: 25rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem black;
}

#amh {
    margin-left: 10rem;
}
#oro {
    line-height: 1.6;
}

#vision {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}

#vision p {
    font-style: oblique;
    flex: 1;  /* Equal width for all paragraphs */
    text-justify: auto;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    hyphens: auto;  /* allow breaking long words */
    padding: 2rem;
    color: rgb(216, 218, 221);
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem black;
    background: linear-gradient(to right top, rgb(3, 56, 73), #05491f);
}

#mission {
    text-align: justify;
    background-color: rgb(28, 6, 6);
    padding: 2rem;
}

#mission div {
    margin: 2rem 18rem 2rem 13rem;
    max-width: 60rem;
}
#mission h1 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
}

#mission p {
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(33, 176, 195);
     /* background: linear-gradient(to right top, rgb(120, 119, 122), #d2d2d8); */
    color: antiquewhite;
    box-shadow: 1rem 1rem 1rem rgb(88, 88, 88);
    padding: 1.5rem;
    border-radius: 2rem;
    line-height: 1.4;
}

#bett {
    margin : 3rem 0 0 0;
    text-align: center;
}
#bett h1 {
    font-size: 3rem;
}

#team {
    text-align: center;
}
#team img {
    margin: 4rem;
    width: 10rem;
    height: 8rem;
}
#supp {
    text-align: center;
}
#supp img {
    margin: 4rem;
    width: 10rem;
    height: 8rem;
}

footer {
    text-align: center;
    background-color: rgb(28, 6, 6);
    height: 5rem;
    color: azure;
    justify-content: space-between;
    display: flex;
    padding: 0 2rem;
}

/* .imag {
    background-image: url("images/dana6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* display: flex; */
/* } */


    /* color: rgb(165, 166, 163);
    color: rgb(212, 154, 18); */

